In [1]:
%autosave 0

Autosave disabled

# Control structures lesson
1. If/elif/else
1. For loop
1. List comprehension
1. While loop
1. Break and continue
1. Prompt user for input

### If/else

If some condition is met, execute the following code.

If it's not, execute the code under the else statement!

breaks once the first condition is true

In [13]:
temp = 45

if temp > 85:
    
    print('it\'s hot')
    
elif temp > 65:
    
    print('warm')

else:
    
    print('hoodie weather')

hoodie weather

In [3]:
age = 19

if age > 17:
    
    print('adult')
    
elif age < 18:
    
    print('minor')

adult

In [7]:
year = 2024

if year > 2024:
    
    print('future')
    
elif year < 2024:
    
    print('past')
    
else:
    
    print('present')

present

In [19]:
time = 12.5

if time == 12:
    
    print('noon')
    
elif time < 12:
    
    print('morning')
    
else:
    
    print('afternoon/evening')

afternoon/evening

### For loop

For item in list, perform some operation!

knows when to break bassed on last element of list

In [5]:
my_num = list(range(1,11))
sq_list = []

for i in my_num:
    
    sq_list.append(i**2)
    
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
years = list(range(2000,2025))
add = []

for i in years:
    
    add.append(i+10)
    
add

[2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034]

In [6]:
num = list(range(1, 10))
mult = []

for i in num:
    
    mult.append(i*10)
    
mult

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [1]:
r = list(range(1,11))
t = []

for i in r:
    
    t.append(i/2)
    
t

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

### List comprehension

Place the results of a for loop back into a list.. immediately!

In [5]:
[i**2 for i in my_num]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
l = [i%2 for i in r]

for i in l:

    if i == 0:
    
        print('even')

    else:
    
        print('odd')

odd
even
odd
even
odd
even
odd
even
odd
even

### While loop

While some conditional statement evaluates to true, continue to execute the code.

When the conditional statement evaluates to false, the loop breaks!

In [ ]:
needs a break like += for it to break

In [11]:
i = 1

while i < 11:

    print(i**2)
    
    i += 1

1
4
9
16
25
36
49
64
81
100

In [15]:
n = 2024

while n != 2025:
    
    print(n-1)
    
    if n == 2001:
    
        break
    
    n -=1

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000

### Break and continue

The break keyword will "break" us out of the looping structure.

The continue keyword will move us to the next iteration of the loop.

without += i will always =1

In [18]:
i = 1

while i < 11:
    
    print(i)
    
    if i == 5:
        
        print('true')
        
        break
        
    i += 1

1
2
3
4
5
true

In [11]:
o = list(range(1,11))

for i in o:
    
    while i < 11:
        
        print(i+1)
        
        if i == 10:
            
            break
        
        i += 1

2
3
4
5
6
7
8
9
10
11
3
4
5
6
7
8
9
10
11
4
5
6
7
8
9
10
11
5
6
7
8
9
10
11
6
7
8
9
10
11
7
8
9
10
11
8
9
10
11
9
10
11
10
11
11

increment in two places when using continue

In [2]:
i = 1

while i < 11:
    
    if i % 2 == 0:
        
        i += 1
        
        continue
        
    print(i)
    
    i += 1

1
3
5
7
9

### Prompt user for input

Use the input() function to get input from the user.

In [3]:
my_num = input('enter an integer: ')

enter an integer:  1

In [4]:
type(my_num)

str

In [5]:
int(my_num)

1

In [7]:
my_num = input('enter an integer: ')

try:
    
    int(my_num)
    
    print("this works")
    
except:
    
    print('needs an integer')

enter an integer:  d

needs an integer

In [8]:
year = input('enter a year: ')

try:
    
    int(year)
    
    print(f'The year is {year}')
    
except:
    
    print('input must be an integer')

enter a year:  2024

The year is 2024