Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week
The hourly rate
For calculating pay:

For working 40 hours or less, each hour is paid at the hourly rate
For working more than 40 hours

the first 40 hours are paid at the hourly rate

each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [3]:
day_of_week = input('enter a day: ')

if day_of_week == 'Monday':

    print('it is Monday')
    
else:
    
    print('it is not Monday')

enter a day: Sunday
it is not Monday

In [4]:
day_of_week = input('enter a day: ')
weekday = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
weekend = ['saturday', 'sunday']

if day_of_week == weekend:

    print('it is the weekend')
    
else:
    
    print('it is not the weekend')

enter a day: tuesday
it is not the weekend

In [43]:
hours = 45
rate = 15
weekly_pay = regular_rate + overtime_rate   
regular_rate = hours*rate


if hours <= 40:
        
    regular_rate = hours*rate
        
else:
        
    overtime = hours - 40
    overtime_rate = overtime * (rate*1.5)
        
weekly_pay

NameError: name 'regular_rate' is not defined

Loop Basics

While

Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [45]:
i = 5

while i <= 15:
  
    print(i)
    
    i += 1

5
6
7
8
9
10
11
12
13
14
15

Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [46]:
i = 0

while i <= 100:
  
    print(i)
    
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000.

In [54]:
i = 2

while i < 1000000:
  
    print(i)
    
    i = i**2

2
4
16
256
65536

Write a while loop that uses print to create the output shown below.

In [60]:
i = 100

while i > 0:
    
    print(i)
    
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [25]:
i = int(input('number to multiply: '))


for n in range(1,11):
    
    print(f'7 x {n} = {n*i}')

number to multiply: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Create a for loop that uses print to create the output shown below.

In [2]:
for n in range(1,10):
    
    print(str(n)*n)

1
22
333
4444
55555
666666
7777777
88888888
999999999

break and continue

Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [6]:
i = int(input('positive number: '))

try:
    
    int(i >= 1)
    print("this works")
    
except:
    
    print('needs to be positive')
    
while i >= 1:
    
    print(i)
    
    i -= 1

positive number: 5
this works
5
4
3
2
1

The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [22]:
i = int(input('positive number: '))
n = 0

while n <= i :

    print(n)
    
    n += 1

positive number: 5
0
1
2
3
4
5

Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.

In [42]:
i = int(input('number to skip is: '))

for n in range(1,51,2):
    
    if n == i:
        
        print(f'Yikes! Skipping number: {i}')
        
        continue
        
    if n != i:
       
        print(f'Here is an odd number: {n}')

number to skip is: 27
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Yikes! Skipping number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

Fizzbuzz

One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

Write a program that prints the numbers from 1 to 100.

For multiples of three print "Fizz" instead of the number

For the multiples of five print "Buzz".

For numbers which are multiples of both three and five print "FizzBuzz".

In [51]:
i = 1

for i in range(1,101):
    
    if i % 3 == 0 and i % 5 == 0:
        
        print('fizzbuzz')
        
    elif i % 3 == 0:
    
        print('fizz')
        
    elif i % 5 == 0:
        
        print('buzz')
        
    else:
    
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

Display a table of powers.

Prompt the user to enter an integer

Display a table of squares and cubes from 1 to the value entered

Ask if the user wants to continue

Assume that the user will enter valid data

Only continue if the user agrees to

In [4]:
i = int(input('What number would you like to go up to? '))

print ('Here is your table!')

print('Number\tSquare\tCube')

for n in range(1,i + 1):
    
    square = n ** 2
    cube = n ** 3
    
    print(f'{n}\t{square}\t{cube}')
    
    
choice= input('Continue? (yes/no): ')

if choice != 'yes':

    continue
    
else:
    
    break

What number would you like to go up to? 5
Here is your table!
Number	Square	Cube
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
Continue? (yes/no): yes

SyntaxError: 'continue' not properly in loop (811399142.py, line 19)