Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [25]:
def is_two(i):
     
    return i == 2 or i == '2'

In [26]:
print(is_two(3))
print(is_two('2'))
print(is_two(2))

False
True
True

Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise

In [29]:
def is_vowel(s):
    
    v = ['a','e', 'i', 'o', 'u', 'y']
    
    return s in v

In [33]:
is_vowel('g')

False

Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [1]:
def is_consonant(c):
    
    v = ['a','e', 'i', 'o', 'u', 'y']
    
    return c not in v

In [2]:
is_consonant('a')

False

Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [12]:
def word_string(s):
    
    v = ['a','e', 'i', 'o', 'u', 'y'] 
    
    if s[0] not in v:
        
        return str(s[0].upper()) + s[1:]
    
    else:
        
        return s

In [13]:
word_string('aodeup')

'aodeup'

Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [68]:
def calculate_tip(p, b):
    
    return p * b

In [69]:
calculate_tip(.50, 10)

5.0

Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [70]:
def apply_discount(o, d):
    
    return o - (o * d)

In [71]:
apply_discount(20, .50)

10.0

Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [72]:
def handle_commas(n):
    
    return int(n.replace(',', ''))

In [73]:
handle_commas('1,000,000')

1000000

Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [93]:
def get_letter_grade(grade): 
        
        if grade >= '88' and grade <= '100':
        
            grade = 'A'
    
        elif grade >= '80' and grade <= '87':
        
            grade = 'B'
    
        elif grade >= '67' and grade <= '79':
        
            grade = 'C'
    
        elif grade >= '60' and grade <= '66':
        
            grade = 'D'
    
        else:
        
            grade = 'F'
            
        return grade

In [94]:
get_letter_grade('10')

'F'

In [101]:
def get_letter_grade(grade): 
        
        if int(grade >= 88 and grade <= 100):
        
            grade = 'A'
    
        elif int(grade >= 80 and grade <= 87):
        
            grade = 'B'
    
        elif int(grade >= 67 and grade <= 79):
        
            grade = 'C'
    
        elif int(grade >= 60 and grade <= 66):
        
            grade = 'D'
    
        else:
        
            grade = 'F'
            
        return grade

In [102]:
get_letter_grade(5)

'F'

Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:

anything that is not a valid python identifier should be removed

leading and trailing whitespace should be removed

everything should be lowercase

spaces should be replaced with underscores
for example:

Name will become name

First Name will become first_name

% Completed will become completed

In [24]:
def normalize_name(c):
    
    alnum = '' 
    prev_letter = ''

    c.strip()
    
    for l in c:
        
        if l.isalnum() == True:
            
            alnum += l.lower()
        
        elif l == ' ' and prev_letter.isalnum() == True:

            alnum += '_'
        
        else:

            alnum += ''
            prev_letter = l
             
    if  alnum[len(alnum)-1] == '_':
        alnum = alnum[:1]
        
    return alnum

In [25]:
def normailze_name(i):
    output = ''
    for char in i:
        if char.isalnum() or cahr == ' ':
            output += char
    return  output.strip().lower().replace(' ','_').replace('__','_')

In [26]:
normalize_name('name')

'name'

In [27]:
normalize_name('First  Name')

'firstname'

In [28]:
normalize_name('% completed')

'completed'

In [29]:
normalize_name('% Completed %')

'completed'

Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [32]:
def cumulative_sum(input):
    new_list = []
    count = 1
    for num in input: 
        list_sum = sum(input[:count])
        new_list.append(list_sum)
        count += 1
    return new_list

In [33]:
cumulative_sum([1, 1, 1])

[1, 2, 3]

In [34]:
cumulative_sum([1, 2, 3, 4])

[1, 3, 6, 10]